/* You can add global styles to this file, and also import other style files */

// Import boostrap globally. You can also import it locally.
// @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}
